@{
    ViewData["Title"] = "Books";
}

<div class="main-content mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        @Html.Partial("_SearchBarPartial")

        <button class="btn btn-outline-dark d-flex align-items-center" style="height: 30px; padding: 0 8px;">
            <i class="fas fa-filter"></i>
            <span class="ms-2">Filter</span>
        </button>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
        <div class="col">
            <a asp-controller="Home" asp-action="BookDetails" class="card text-decoration-none text-dark">
                <img src="~/images/book1.png" class="card-img-top fixed-image mx-auto" alt="The Little Prince">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between">
                        The Little Prince
                        <div>
                            <i class="fas fa-heart me-2"></i>
                            <i class="fas fa-cart-plus"></i>
                        </div>
                    </h5>
                    <p class="card-author">Antoine de Saint-Exupéry</p>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="card text-decoration-none text-dark">
                <img src="~/images/book2.png" class="card-img-top fixed-image mx-auto" alt="Alice in Wonderland">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between">
                        Alice in Wonderland
                        <div>
                            <i class="fas fa-heart me-2"></i>
                            <i class="fas fa-cart-plus"></i>
                        </div>
                    </h5>
                    <p class="card-author">Lewis Carroll</p>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="card text-decoration-none text-dark">
                <img src="~/images/book3.png" class="card-img-top fixed-image mx-auto" alt="The Hobbit">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between">
                        The Hobbit
                        <div>
                            <i class="fas fa-heart me-2"></i>
                            <i class="fas fa-cart-plus"></i>
                        </div>
                    </h5>
                    <p class="card-author">J.R.R. Tolkien</p>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="card text-decoration-none text-dark">
                <img src="~/images/book4.png" class="card-img-top fixed-image mx-auto" alt="The Lion, the Witch and the Wardrobe">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between">
                        The Lion, the Witch and the Wardrobe
                        <div>
                            <i class="fas fa-heart me-2"></i>
                            <i class="fas fa-cart-plus"></i>
                        </div>
                    </h5>
                    <p class="card-author">C.S. Lewis</p>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="card text-decoration-none text-dark">
                <img src="~/images/book5.png" class="card-img-top fixed-image mx-auto" alt="The Da Vinci Code">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between">
                        The Da Vinci Code
                        <div>
                            <i class="fas fa-heart me-2"></i>
                            <i class="fas fa-cart-plus"></i>
                        </div>
                    </h5>
                    <p class="card-author">Dan Brown</p>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="card text-decoration-none text-dark">
                <img src="~/images/book6.png" class="card-img-top fixed-image mx-auto" alt="The Chronicles of Narnia">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between">
                        The Chronicles of Narnia
                        <div>
                            <i class="fas fa-heart me-2"></i>
                            <i class="fas fa-cart-plus"></i>
                        </div>
                    </h5>
                    <p class="card-author">C.S. Lewis</p>
                </div>
            </a>
        </div>
    </div>
</div>