@model BookStore.PortalWWW.Models.EditProfileViewModel

@{
    ViewData["Title"] = "Edit information";
}

<div class="container my-5">
    <a asp-action="Index" class="btn btn-light border-2 border-dark">
        <i class="bi bi-arrow-left me-2"></i> Back
    </a>
    <h2 class="my-4 color-secondary fw-semibold">@ViewData["Title"]</h2>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }

    <form asp-action="Edit" method="post" class="row g-4 mx-5">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="IdUser" />

        <div class="col-md-6">
            <label asp-for="Username" class="form-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="col-md-3">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="col-md-3">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Street" class="form-label"></label>
            <input asp-for="Street" class="form-control" />
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="NewPassword" class="form-label"></label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="col-md-3">
            <label asp-for="City" class="form-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>

        <div class="col-md-3">
            <label asp-for="PostalCode" class="form-label"></label>
            <input asp-for="PostalCode" class="form-control" />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>

        <div class="col-12 d-flex justify-content-end">
            <button type="submit" class="btn bg-primary text-white">
                <i class="bi bi-save me-2"></i> Save
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
