html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: rgba(100, 100, 100, 0.1) !important;
}

.main-content {
    flex-grow: 1;
}

footer {
    position: absolute;
    width: 100%;
    padding: 0;
    color: white;
    text-align: center;
}

:root {
    --color-primary: #4c5c52; /* dark muddy green */
    --color-secondary: #EFEFEF; /* very light gray */
    --color-tertiary: #1a1a1a; /* dark grey */
}

/* background */
.bg-primary {
    background-color: var(--color-primary) !important;
}

.bg-secondary {
    background-color: var(--color-secondary) !important;
}

.bg-tertiary {
    background-color: var(--color-tertiary) !important;
}

/* text */
.color-primary {
    color: var(--color-primary) !important;
}

.color-secondary {
    color: var(--color-secondary) !important;
}

.color-tertiary {
    color: var(--color-tertiary) !important;
}

/* border */
.border-primary {
    border-color: var(--color-primary) !important;
}

.border-secondary {
    border-color: var(--color-secondary) !important;
}

.border-tertiary {
    border-color: var(--color-tertiary) !important;
}

.scale-hover {
    transition: transform 0.1s ease-in-out;
}

    .scale-hover:hover {
        transform: scale(0.95);
    }


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.fixed-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.fixed-image-lg {
    width: 400px;
    height: 550px;
    object-fit: cover;
}

.book-card {
    width: 200px;
    transition: transform 0.2s ease-in-out;
}

    .book-card:hover {
        transform: scale(0.97);
        cursor: pointer;
    }

.book-cover {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

/* genres list */
.genre-item {
    margin-bottom: 0.2rem;
}

    .genre-item a {
        text-decoration: none;
        padding-block: 0.2rem;
        color: var(--color-tertiary) !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .genre-item a:hover {
        background-color: rgba(100, 100, 100, 0.1);
    }
