html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: rgba(100, 100, 100, 0.1) !important;
}


.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    width: 1.5em;
    position: relative;
}

    .nav-icon i {
        vertical-align: middle;
        line-height: 1;
    }

    .nav-icon:hover .outline-icon {
        display: none;
    }

    .nav-icon:hover .solid-icon {
        display: inline-block !important;
        position: absolute;
        top: 0;
        left: 0;
    }

.main-content {
    flex-grow: 1;
}

footer {
    position: absolute;
    width: 100%;
    padding: 0;
    color: white;
    text-align: center;
}

:root {
    --color-primary: #4c5c52; /* dark muddy green */
    --color-secondary: #944040; /* muted red */
    --color-tertiary: #1a1a1a; /* dark grey */
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.bg-secondary {
    background-color: var(--color-secondary) !important;
}

.bg-tertiary {
    background-color: var(--color-tertiary) !important;
}

.color-primary {
    color: var(--color-primary) !important;
}

.color-secondary {
    color: var(--color-secondary) !important;
}

.color-tertiary {
    color: var(--color-tertiary) !important;
}

.border-primary {
    border-color: var(--color-primary) !important;
}

.border-secondary {
    border-color: var(--color-secondary) !important;
}

.border-tertiary {
    border-color: var(--color-tertiary) !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.fixed-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.fixed-image-lg {
    width: 400px;
    height: 550px;
    object-fit: cover;
}

.book-card {
    width: 200px;
    transition: transform 0.2s ease-in-out;
}

    .book-card:hover {
        transform: scale(0.97);
    }

.book-cover {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.genre-item {
    margin-bottom: 0.2rem;
}

    .genre-item a {
        text-decoration: none;
        padding-block: 0.2rem;
        color: var(--color-tertiary) !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .genre-item a:hover {
        background-color: rgba(100, 100, 100, 0.1);
    }

