@model BookStore.Data.Data.Entities.User

@{
    ViewData["Title"] = "Add";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-7 bg-secondary bg-opacity-10 p-4 rounded">
            <h1 class="mb-4">New user</h1>

            <form asp-action="Create" id="createUserForm">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="row g-3">
                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="Username" class="form-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger small"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger small"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="FirstName" class="form-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger small"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="LastName" class="form-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger small"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" type="email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger small"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="Street" class="form-label"></label>
                        <input asp-for="Street" class="form-control" />
                        <span asp-validation-for="Street" class="text-danger small"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="City" class="form-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger small"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="PostalCode" class="form-label"></label>
                        <input asp-for="PostalCode" class="form-control" />
                        <span asp-validation-for="PostalCode" class="text-danger small"></span>
                    </div>

                    <input type="hidden" asp-for="Role" value="User" />
                </div>
            </form>

            <div class="d-flex justify-content-between mt-4">
                <a asp-action="Index" class="btn btn-outline-secondary">
                    <ion-icon name="arrow-back-outline" class="me-1"></ion-icon> Back
                </a>
                <button type="submit" class="btn btn-secondary" form="createUserForm">Add</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
