@model int

@{
}

<a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model">
    <i class="fa fa-edit" aria-hidden="true"></i> Edit
</a>
<button class="btn btn-outline-danger deleteBtn" data-id="@Model">
    <i class="fa fa-trash" aria-hidden="true"></i> Delete
</button>