<form class="d-flex ms-auto">
    <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search" style="height: 30px; width: 250px;">
    <button class="btn btn-outline-light d-flex align-items-center justify-content-center" type="submit" style="height: 30px; padding: 0 8px; margin-inline-end: 30px">
        <i class="fas fa-search"></i>
    </button>
</form>
