<form id="searchForm" class="d-flex align-items-center w-auto" method="get">
    <input class="form-control me-2 border-dark"
           type="search"
           name="query"
           placeholder="Search..."
           aria-label="Search"
           style="height: 30px;">
    <button class="btn btn-outline-dark"
            type="submit"
            style="height: 30px; padding: 0 8px;">
        <i class="fas fa-search"></i>
    </button>
</form>
