<footer class="p-4 bg-dark">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
            <a class="nav-link px-2 text-white" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-2 text-white" asp-controller="Home" asp-action="Books">Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-2 text-white" asp-controller="Home" asp-action="Contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-2 text-white" asp-controller="Home" asp-action="FAQs">FAQ</a>
        </li>
    </ul>

    <p class="text-center text-white">&copy; 2025 BookStore. All rights reserved.</p>

    <div class="d-flex justify-content-center gap-4">
        <a href="#" aria-label="Instagram" class="text-white">
            <i class="fab fa-instagram" style="font-size: 24px;"></i>
        </a>
        <a href="#" aria-label="Facebook" class="text-white">
            <i class="fab fa-facebook" style="font-size: 24px;"></i>
        </a>
        <a href="#" aria-label="YouTube" class="text-white">
            <i class="fab fa-youtube" style="font-size: 24px;"></i>
        </a>
    </div>
</footer>