@model IEnumerable<BookStore.Data.Data.Entities.Genre>

<h4>Genres</h4>
@if (Model?.Any() == true)
{
    <ul class="list-unstyled">
        @foreach (var genre in Model)
        {
            <li class="genre-item"><a href="#">@genre.Name <span>›</span></a></li>
        }
    </ul>
}
else
{
    <p>No genres available.</p>
}
