@model BookStore.Data.Data.Entities.Delivery

@{
    ViewData["Title"] = "Delivery Details";
}

<h1 class="mb-4 text-center">Delivery Details</h1>

<div class="d-flex justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="border p-4 rounded">

            <dl class="row mb-3">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Supplier)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Supplier.Name)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DeliveryDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DeliveryDate)
                </dd>
            </dl>

            <div class="text-center mt-4">
                <a asp-action="Edit" asp-route-id="@Model?.IdDelivery" class="btn btn-primary w-100 mb-2">Edit</a>
                <a asp-action="Index" class="btn btn-secondary w-100">Back to List</a>
            </div>
        </div>
    </div>
</div>
