@model int

<div class="d-flex gap-2">
    @Html.AntiForgeryToken()

    <button type="button" class="btn btn-sm btn-outline-danger toggle-collection" data-book-id="@Model" title="Add to Collection" style="line-height: 1;">
        <i class="bi bi-suit-heart"></i>
    </button>

    <button type="button" class="btn btn-sm btn-outline-primary add-to-cart" data-book-id="@Model" title="Add to Cart" style="line-height: 1;">
        <i class="bi bi-bag"></i>
    </button>
</div>
