<form class="d-flex w-auto" method="get" asp-controller="Books" asp-action="Index">
    <input name="searchTerm"
           class="form-control me-2 border-dark"
           type="search"
           placeholder="Search..."
           aria-label="Search"
           style="height: 34px; width: 400px;"
           value="@Context.Request.Query["searchTerm"]" />
    <button class="btn btn-outline-dark d-flex align-items-center justify-content-center"
            type="submit"
            style="height: 34px; padding: 0 8px; margin-inline-end: 30px">
        <i class="fas fa-search"></i>
    </button>
</form>
